body.index-page {
    background: linear-gradient(329.54deg, #5b45bd 0%, #7631e4 100%);
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    background-image: url('../../images/teamDev.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
}

section.meet.location {
    display: none;
}

header.index-header {
    width: 100%;
    display: flex;
    padding: 10px 145px;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.location {
    text-align: justify;
}

.location strong {
    height: 16vh;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.location p{
    font-size: 16px;
    color: white;
}

main h1 {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

main p {
    color: #fff;
    font-size: 20px;
}

hr.allow {
    margin-top: -10px;
    margin-bottom: 5px;
}

.presentation {
    margin-top: 10px;
    padding: 0 10px;
    position: relative;
}

hr.bellow {
    margin-top: 5px;
}

section img.time1, .time2 {
    padding: 20px 60px; 
}

section img.time2 {
    margin-top: -50px;
    width: 550px;
    height: 550px;
}

button.findDevs {
    position: absolute;
    bottom: 50px;
    right: 63px;
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #7364b8;
    cursor: pointer;
    color: white;
    font-weight: bold;
    outline: none;

    transition: .2s;
}

button.findDevs:hover {
    transform: scale(1.1);
    background-color: #45348f;
}

@media screen and (max-width: 980px) {
    
    .presentation {
        margin-top: 30px;
    }
}

@media screen and (max-width: 916px) {
   
    .presentation {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 768px) {
    main h1 {
        font-size: 24px;
    }

    main p {
        font-size: 18px;
    }

    .location {
        text-align: center;
    }
    
}

@media screen and (max-width: 650px) {
    main h1 {
        font-size: 20px;
    }

    main p {
        font-size: 14px;
    }

    header.index-header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header.index-header .logo {
        margin-bottom: 20px;
    }

    button.findDevs {
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 580px) {
    .location strong {
        font-size: 15px;
    }

    .location p {
        font-size: 10px;
    }
}