button.component-button {
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #7364b8;
    cursor: pointer;
    color: white;
    font-weight: bold;
    outline: none;

    transition: .2s;
}

button.component-button:hover {
    transform: scale(1.1);
    background-color: #45348f;
}
