.logo {
    text-align: center;
}

.logo h1, .logo p {
    color: white;
}

@media screen and (max-width: 580px) {
    .logo h1 {
        font-size: 18px;
    }

    .logo p {
        font-size: 14px;
    }
}

